fastapi
uvicorn
pydantic
mysql-connector-python
python-multipart
python-dotenv
tavily-python
openai
pypdf
docx2txt
openpyxl
chromadb
cryptography
pydantic-settings
pymysql
langgraph
langchain-core
langchain-groq